If:
  PathExclude: benchmark/.*
CompileFlags:
  CompilationDatabase: "build"
  Add: [-std=c++26, -freflection, -Ibuild/generated]

---

# Specific configuration for the benchmarks folder
If:
  PathMatch: benchmark/.*
CompileFlags:
  CompilationDatabase: "build/bench"
  Add: [-std=c++26, -freflection, -Ibuild/generated]
